/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/banner.css");
@import url("components/how-it-works.css");
@import url("components/footer.css");

/* Utilities */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  color: #b63ae8;
  text-decoration: none;
}

/* Custom design below! */

a:hover {
  color: white;
}
